<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
</head>
<body>
<h2>Olá, <span th:text="${name}">Usuário</span>!</h2>
<p>Bem-vindo à nossa plataforma. Estamos felizes em ter você conosco.</p>
<p>Sua senha temporária é: <strong th:text="${temporaryPassword}">senha123</strong></p>
<p>Por motivos de segurança, recomendamos que você altere essa senha o quanto antes.</p>
<p>Para configurar uma nova senha, clique no link abaixo:</p>
<p><a th:href="${activationLink}">Alterar Senha</a></p>
<hr>
<p>Obrigado,<br>A equipe Pulsar</p>
</body>
</html>
